<form>
    <h1>Deletando veículo</h1>

    <mat-form-field class="form">
        <mat-label>Carro</mat-label>
        <input matInput [(ngModel)]="veiculos.veiculo" type="text" name="carro" disabled >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="veiculos.marca" type="text" name="marca" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="veiculos.ano"  type="number" name="ano" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descricao</mat-label>
        <input matInput [(ngModel)]="veiculos.descricao"  type="text" name="descricao" disabled>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary">Deletar</button>
    </div>
</form>

